{% extends "base.html" %}

{% block content %}

<a href="{% url 'produto:produto_list' %}">Voltar</a>

<h1>{{ object }}
    <a href="{% url 'produto:produto_edit' object.pk %}" class="btn btn-success float-right">
        <span class="fas fa-pencil"></span> Editar
    </a>
</h1>

<div class="col-sm-6">
    <table class="table table-user-information">
       <tbody>
        <tr>
            <th class="text-right">Importado</th>
            <td>
                {% if object.importado %}
                    <i class="fas fa-check-circle ok"></i>
                {% else %}
                    <i class="fas fa-minus-circle no"></i> 
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="text-right">NCM</th>
            <td>{{ object.ncm }}</td>
        </tr>
        <tr>
            <th class="text-right">Preço</th>
            <td>R$ {{ object.preco }}</td>
        </tr>
        <tr>
            <th class="text-right">Estoque</th>
            <td>{{ object.estoque }}</td>
        </tr>
        <tr>
            <th class="text-right">Estoque mínimo</th>
            <td>{{ object.estoque_minimo }}</td>
        </tr>
       </tbody> 
    </table>
</div>

{% endblock content %}
