# Ignorar o diretório virtualenv
venv/

# Ignorar o arquivo de configuração de ambiente
.env
.venvenv/
venv/
ENV/
env.bak/
venv.bak/

# Ignorar arquivos de banco de dados SQLite
*.sqlite3

# Ignorar arquivos compilados Python
*.pyc
*.pyo
__pycache__/

# Ignorar o diretório de migrações de banco de dados Django
*/migrations/

# Ignorar arquivos de logs
*.log

# Ignorar arquivos temporários do editor
*.swp
*.swo
Thumbs.db

# Ignorar arquivos do VS Code (caso esteja usando)
.vscode/

# Ignorar arquivos gerados por builds ou distribuições
dist/
build/
*.egg-info/

# mypy
.mypy cache/

staticfiles/

node_modules/
# Sublime Text
*.sublime-workspace
*.sublime-project

# PyCharm / JetBrains
.idea/

# Vim
*.swp
# Ignorar arquivos de build do React Native
android/.gradle/
android/build/
android/app/build/
# Ignorar cache do npm
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar arquivos de configuração de AWS ou outras credenciais
.env.local
.env.development
.env.production
.env.test
# Ignorar arquivos de pacotes Python
*.egg
.eggs/




